@model User
@{
    ViewData["Title"] = Model.Login;
}

<div class="container col-xl-7 mt-5">
    <h1>Account</h1>
    <div class="row g-3">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control disabled" id="LoginInput"
                           value="@Model.Login" readonly>
                    <label for="LoginInput">Login</label>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control disabled" id="EmailInput"
                           value="@Model.Email" readonly>
                    <label for="EmailInput">Email</label>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="password" class="form-control disabled" id="password-input" 
                           value="@Model.HashedPassword" readonly >
                    <label for="password-input">Password</label>
                    <a class="password-control" onclick="return show_hide_password(this);"></a>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control disabled" id="NameInput"
                           value="@Model.Name" readonly>
                    <label for="NameInput">Name</label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <a asp-action="EditAccount" class="btn btn-primary mt-3 float-end">Изменить</a>
        </div>
        <div class="col-6">
            <a class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Удаление</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Вы уверены, что хотите <strong>безвозвратно</strong> удалить свой аккаунт?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <form asp-action="DeleteAccount">
                            <button type="submit" class="btn btn-primary">Да, удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>