@using System.Security.Claims
@addTagHelper *, ItemHub
@model ItemHub.Models.Pages.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mb-lg-4">
    @if (User.Identity!.IsAuthenticated)
    {
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
    @if (User.IsInRole("SELLER"))
    {
        <div class="h4"> 
            <a asp-action="Create" asp-controller="Item" class="btn btn-primary" >Create Item</a>
        </div>
    }
    <div class="col-md-8 m-auto">
        <div class="input-group">
            <input type="search" id="searchQuery" class="form-control"
                   placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button id="searchBtn" class="btn btn-outline-primary" type="submit" data-mdb-ripple-init>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="d-flex">
            <div class="col">
                <label>Цена</label>
                <!-- Двойной ползунок -->
                <div class="slider-container mb-4 text-start">
                    <div class="slider-track"></div>
                    <input type="range" id="slider-left" min="0" max="100" value="0" class="slider">
                    <input type="range" id="slider-right" min="0" max="100" value="100" class="slider">
                </div>
                <!-- Поля ввода для минимальной и максимальной цены -->
                <div class="d-flex justify-content-around mt-2">
                    <input type="number" id="minPrice" class="form-control" style="width: 100px;" />
                    <input type="number" id="maxPrice" class="form-control" style="width: 100px;" />
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-between"> тест </div>
            </div>
        </div>
    </div>
</div>
@if (User.FindFirst(ClaimTypes.Role)?.Value == UserRoles.SELLER)
{
<div class="d-flex justify-content-center mb-3">
    <ul class="nav nav-tabs col-8">
        @if (ViewContext.RouteData.Values["Action"]?.ToString() == "Index")
        {
            <li class="nav-item">
                <a class="nav-link active">Все товары</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="MyItems">Мои товары</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index">Все товары</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">Мои товары</a>
            </li>
        }
    </ul>
</div>
}

<div id="search-results">
    <!-- Сюда будем подгружать PartialView из SearchItemsAjax -->
</div>

@section Scripts {
    <link rel="stylesheet" href="~/css/dual-slider.css" asp-append-version="true" />
    <script src="~/js/search-items.js" asp-append-version="true"></script>
    <script src="~/js/dual-slider.js" asp-append-version="true"></script>
}